@import "~@toast-ui/vue-image-editor/node_modules/tui-image-editor/dist/tui-image-editor.css";
@import "~tui-color-picker/dist/tui-color-picker.css";

.grid {
  display:grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 5px 5px;
  justify-items: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  max-width: 300px;

  img {
    min-width: 100px;
  }
}

.tui-image-editor-header {
  display: none;
}

.tui-image-editor-container {
  min-height: 75vh;
}